.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar-inverse .navbar-brand {color:firebrick;}
.navbar-inverse .navbar-brand:hover{color:firebrick;}

.page-header{
    background: #d1d1d1;
    border-radius: 10px;
    padding: 5px 0px 5px 10px;
    min-height: 44px;
}

.inputLinecol{
  border-radius:10px;
  padding:10px;
}

.form-group{margin-bottom:0px;}

#zoneCarte{
  margin:20px auto;
}

.spacer{
  margin:10px;
}

.square{
 width: 60px;
 height: 60px;
 margin: 0px 10px;
 background-color:grey;
 border:2px solid transparent;
 border-radius:5px;
 -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
 box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
 text-align:center;
 vertical-align:middle;
 display: inline-block;
 transform:translateZ(0px);
 transition: 0.1s linear;
}

.square:hover{
  transform: perspective(300px) translateZ(50px);
    transition: 0.1s linear;
}

.editor{
  padding-top:35px;
}

.shadow{
  -webkit-box-shadow: -15px 0px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 0px 21px 0px rgba(0,0,0,0.75);
box-shadow: -15px 0px 21px 0px rgba(0,0,0,0.75);
}

.nav-sidebar>li>a,
.nav-sidebar>li>a:hover, 
.nav>li>a:focus{
  color:white;
  background-color:transparent;
}

.btn{border:2px solid;}
.tuileVide{background-color:grey; border-color:grey;}
.tuileVideArbre{background-color:grey;border-color:green}
.tuileMur{background-color:GoldenRod;border-color:GoldenRod }
.tuileMurArbre{background-color:GoldenRod ;border-color:green}
.murMobile{background-color:FireBrick ;border-color:FireBrick }
.murMobileArbre{background-color:FireBrick ;border-color:green}
.murMobileInverse{background-color:LightSkyBlue ;border-color:LightSkyBlue }
.murMobileInverseArbre{background-color:LightSkyBlue ;border-color:green}

.cursor { outline : "2px solid red"; }

#legende{
  margin-top: 15px;
}

#warning{
    position: fixed;
    top: 60px;
    left: 5px;
    z-index: 9999;
}