

* {
	margin:0;
	padding:0;
}

html, body {
    font-family: sans-serif;
    background-color:black;
    text-shadow: 0 0 5px black;
	height: 100%;
}

body {
    background-position: center center;
	background-size: cover;
}

canvas {
    position: absolute;
    top:0px;
	z-index: 0;
	display:block;
}

.main {
    position: relative;
    z-index: 1;
}

h1 {
	font-size: 1.3em;
	text-shadow:2px 2px 5px #aaa;
	margin-bottom: 25px;
	text-align: center;
}

p {
	margin-top:10px;
	margin-bottom:10px;
}

a {
	text-decoration:none;
	color:white;
}

a:hover {
	text-decoration:underline;
}

.clear {
	clear:both;
}

.main {
	margin:0px auto;
	padding:15px;
}

.header {
	min-width:300px;
	margin:0px auto;
	margin-bottom:5px;
	color:white;
}

.header .menu {
	text-align:center;
}

.header .menu ul li {
	display:inline;
	padding-right:15px;
}

.form-label {
	font-family: sans-serif;
	margin:auto;
	width:200px;
	font-size: 20px;
	color: #dfdfdf;
	text-shadow: 0 0 5px rgb(29, 4, 4);
	margin-top: 3px;
}

.form-label-float {
	font-family: sans-serif;
	margin:auto;
	width:200px;
	font-size: 20px;
	color: #dfdfdf;
	text-shadow: 0 0 5px rgb(29, 4, 4);
	margin-top: 3px;
	float: left;
}

.form-input {
	margin:auto;
	width: 200px;
}

.floatLeft{
	float: left;
	width: 200px;
	margin-right: 5px;
}

.setMeto23{
	height: 23px;
	border: 0px;
}

.form-separator {
	clear: both;
	height:10px;
}

.error-div {
	border: 1px solid red;
	padding:5px;
	border-radius: 3px;
	background-color: pink;
	margin-bottom: 20px;
	color:red;
	max-width: 300px;
	margin: auto;
}

.login-container {
	background: rgba(0,0,0,0.5);
	width:900px;
	min-height:550px;
	max-height:800px;
	margin:0px auto;
	border:1px solid #6b5736;
	padding:15px;
	box-shadow: 0 0 15px #000;
	border-radius: 6px;
	overflow:auto;
}

.login-form-frame {
	text-align: center;
	margin: 20px auto;
	width:850px;
	border-radius: 6px;
	border:1px solid #6b5736;
	background-position: center center;
	background-size: cover;
	padding:20px;
}

.logo-sirius {
	text-indent:-1000px;
	background-image:url('../images/SiriusOcean.png');
	background-position: center;
	background-repeat:no-repeat;
	background-size: 350px 80px;
	height: 55px;
}

button {
	background: #55ace6;
	background-image: linear-gradient(to bottom, #55ace6, #096299);
	border-radius: 18px;
	border: solid #f4f8fb 2px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}
  
button:hover {
	background: #2675a3;
	background-image: linear-gradient(to bottom, #2675a3, #104569);
	text-decoration: none;
}

input {
	border-radius: 6px;
	border: solid #f4f8fb 2px;
	font-size: 16px;
	width: 200px;
}

.listLobby{
	margin:0px auto;
	width: 330px;
	max-height: 300px;
	overflow:auto;
}

#listPartie{
	color: white;
	border-collapse: separate;
	border-spacing: 0px 10px;
	margin:0px auto;
	min-width: 300px;
	max-height: 300px;
}

.list_ligne{
	background: rgba(0,0,0,0.5);
	border:1px solid #6b5736;
	box-shadow: 0 0 1px #000;
	border-radius: 6px;
	height: 20px;
	margin-bottom: 5px;
	padding: 5px;
	
	margin-right: 2px;
}

.list_ligne:hover{
	background: rgba(0,0,0,0.8);
}

.list_name, .list_level, .list_joueur, .list_hp{
	float: left;
	min-width: 50px;
	height: 20px;
}

.list_name{
	min-width: 100px;
}

#scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
}

#scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: rgba(255, 255, 255, 0.3);
}

#scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.information-perso {
	color: white;
	background: rgba(0,0,0,0.5);
	width:330px;
	min-height:90px;
	margin:0px auto;
	border:1px solid #6b5736;
	padding:15px;
	padding-top: 0;
	box-shadow: 0 0 15px #000;
	border-radius: 6px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.unInfoPlayerGauche{
	float: left;
	width: 190px;
	padding-bottom: 5px;
}

.unInfoPlayerDroit{
	float: left;
	width: 105px;
	padding-bottom: 5px;
}

.playerNom{
	text-align: center;
	padding-bottom: 10px;
}

