* {
	margin:0;
	padding:0;
}

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
margin: 0px;
min-height: 100%;
width: 100%;
background: #FF5F6D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-repeat:none;
font-family: 'Montserrat', sans-serif !important;
overflow:hidden;
}

.container-fluid .container{
  position:relative;
}

.form-elegant{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
                
.form-elegant .font-small {
  font-size: 0.8rem; }

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }
  
#logout{
    position: fixed;
    bottom: 0px;
    right: 50%;
    transform: translateX(50%);
}

#statsCard{
  opacity:0;
}

#statsPartie{
  opacity:0;
}

/****** USER ******/
#username{
  text-transform: uppercase;
  font-weight:bold;
}

#couleur{
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

#squareCouleur{
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.badge-pill.xp{
  height:26px;
  line-height: 20px;
  font-size:large;

}

#coolpoints{
  margin: auto;
}

.cursorSet .col-lg-3 .card{
  cursor:pointer;
}

#chart_div, #chart_div2, #chart_div3, #chart_div4{
  display: block;
  margin: 0 auto;
  width: 600px;
}

#listeParties{
margin:20px auto;
height: 30vh;
overflow-y: scroll;
border: 1px solid orange;
border-radius: 2px;
}

#stats{
  width: 100%;
  margin: auto;
}

#map{
  border: 2px solid black;
  border-radius: 4px;
  font-size: 20px;
  width: 23%;
  padding: 0px;
}

#titre{
  width: 100%;
  border-bottom: 2px solid black;
  background-color: #4285f4;
}

#legende{
  width: 35%;
  margin: auto;
  margin-top: 10px;
  padding: 0px;
  border: 2px solid rgb(135, 206, 250);
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}


/*** SHADOW POUR LES COOLPOINTS ***/
.card.box {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.card.box::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) !important;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.card.box:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.card.box:hover::after {
    opacity: 1;
}

#ligne{
  margin: 0px;
}

#stats2 .row{
  padding:10px;
  overflow-y: scroll;
  height:40vh;
}
